.logo-header-init.introduction
  .logo-header-image.logo
  .logo-header-content
    .thick HackMerced
    .thin University of California - Merced
.header
  .header-center
    .header-image.logo
    .header-content
      .thick HackMerced
      .thin University of California - Merced
    .button.header-button.apply-now
      a(href='https://www.google.com/maps/dir//37.366882,-120.4234116/@37.3668735,-120.4229449,18z', target='_blank') Get Directions
    .clear
