include header

block content
  include snippets/logo
  .hm-page-intro
    .hm-page-center
      .center
        h1.hm-capture
          span.hm-capture-text A HACKATHON FOR THE
          span.gold  21ST CENTURY
        .hm-content.introduction
          .hm-content-left
            h4 April 23 - April 24
            .hm-bar
            p UC Merced’s Engineering community presents
              | a hackathon to celebrate modernity, innovation
              | and diversity. Come experience and enjoy
              | our first hackathon with us.
          .hm-content-right
            .hm-location
              .hm-cloud.fa.fa-cloud
              .hm-location-actual
                .hm-la-street 5200 N Lake Road
                .hm-la-city
                  span Merced, CA -
                  span#getWeather  54 F / 15 C
            .button.apply-now
              a(href='https://www.google.com/maps/dir//37.366882,-120.4234116/@37.3668735,-120.4229449,18z', target='_blank') Get Directions
          .clear
  .more-info.introduction#moreinfo
      .mi-one More
      .mi-icon
        .mi-triangle
      .mi-two Info
      .clear
  .more-info#schedule
      .mi-one Schedule
      .mi-icon
        .mi-triangle
      .mi-two FAQ
      .clear
  .hm-page-info
    .center
      h2.hm-forour FOR THE
        span.gold  HACKERS,
        span  CREATORS,
        span.gold  DESIGNERS
        span  AND EXPLORERS.
      .hm-content
        .hm-content-600
          .hm-bar
          p HackMerced is UC Merced’s first
            span.gold  collegiate hackathon.
            |  In Spring 2016, over
            span.gold  300 students
            |  from all backgrounds will
            span.gold  come together
            |  for a 24-hour event.
          p HackMerced will promise to provide you, with
            span.gold  workshops
            | ,
            span.gold world-class
            |  mentoring,
            span.gold  great food,
            |  and an opportunity to
            span.gold  connect
            |  with some of the
            span.gold  biggest companies
            |  in the United States.
          p HackMerced will be a hackathon to
            span.gold  never forget.
  .hm-page-schedule
    .center
      h2.hm-yourtime Your
        span.gold  time
        |  at merced
      .hm-content
        .hm-content-600
          .hm-bar
          h3.event-section Before the Event
          table.events
            tr.event
              td.event-date April 15th
              td.event-desc Applications Close
            tr.event
              td.event-date April 17th
              td.event-desc Acceptances Sent Out
          h3.event-section When you arrive
          table.events
            tr.event
              td.event-date 10:00 AM
              td.event-desc Pre-Registration Starts
            tr.event
              td.event-date 12:00 PM
              td.event-desc Hacking Starts
            tr.event
              td.event-date 12:00 PM
              td.event-desc Lunch
            tr.event
              td.event-date 6:00 PM
              td.event-desc Dinner
            tr.event
              td.event-date 12:00 AM
              td.event-desc Midnight Snack
            tr.event
              td.event-date 9:00 AM
              td.event-desc Breakfast
            tr.event
              td.event-date 12:00 PM
              td.event-desc Hacking Ends
            tr.event
              td.event-date 12:30 PM
              td.event-desc Judging Starts
    .center
      h2.hm-faq Frequently
        span.gold  Asked
        |  Questions
      .hm-content
        .hm-bar
        .hm-content-600
          h3 What is a Hackathon?
          p Participants (“hackers”) spend 24 hours working in teams of 1-4 people to build or code something they’re excited about. <br><br>There are workshops, mentors, and piles of food to guide you along the way. You bring your ideas, and we give you everything you need to make them come to life.
          h3 What do people normally make?
          p You’re free to go where your heart takes you. Most hacks involve making web or phone apps, or working with hardware.
          h3 Do I have to know how to code to attend?
          p Nope! We’ll have lots of resources to help beginners get started, like workshops and mentors.
          h3 Will you be providing Reimbursments?
          p We have yet to decide, so sign up anyway! We will most likely be providing buses to nearby Universities.
    .center
      h2.hm-sponsors Sponsors
      .hm-content
        .hm-bar
        .hm-content-600
          .hm-sponsor-container
            a(target="_blank" href="http://citris.ucmerced.edu/")
              .hm-sponsor( style='background-size: 70%; background-image:url(/img/sponsor/citris.png)')
            a(target="_blank" href="http://learnbeat.org/")
              .hm-sponsor( style='background-size: 50%; background-image:url(/img/sponsor/beat.png)')
            a(target="_blank" href="http://datastack.co")
              .hm-sponsor( style='background-image:url(/img/sponsor/datastack.png)')
            a(target="_blank" href="http://asucm.ucmerced.edu")
              .hm-sponsor( style='background-size: 50%; background-image:url(/img/sponsor/asucm.png)')
            a(target="_blank" href="http://blumcenter.ucmerced.edu/")
              .hm-sponsor( style='background-size: 70%; background-image:url(/img/sponsor/blum.png)')
            a(target="_blank" href="http://ucwater.org/")
              .hm-sponsor( style='background-size: 70%; background-image:url(/img/sponsor/ucwater.png)')
            a(target="_blank" href="http://ucwater.org/")
              .hm-sponsor( style='background-size: 70%; background-image:url(/img/sponsor/ucwater2.png)')
            .clear
          p If you'd like to sponsor us too, send us a message at <a href="mailto:sponsor@hackmerced.com">sponsor@hackmerced.com</a>
